<table>
  <thead>
    <tr>
      <!--<th>Done</th>-->
      <th>Associated date</th>
      <th>Summary</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% items.each do |item| %>
      <tr>
        <!--<td><%= item.done %></td>-->
        <td><%= item.associated_date %></td>
        <td><%= item.summary %></td>
        <td><%= item.description[0..30] %>...</td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Toggle', item_path(item), method: :patch %>
      </tr>
    <% end %>
  </tbody>
</table>