<h1> <%= $date.strftime("%Y/%m/%d") %></h1>
<%= link_to "Prev", 'prev_day' %>
<%= link_to "Next", 'next_day' %>
<%= link_to "Today", 'today' %>
<%= form_with method: :post, url: {action: 'goto'} do |form| %>
  <%= form.date_select "selected_date", start_year: 1970, use_month_numbers: true %>
  <%= form.submit "Go to" %>
<% end %>
<%= link_to "Show all undone", show_all_todo_path %>
<%= link_to "Show all done", show_all_done_path %>

<p id="notice"><%= notice %></p>

<h1>To-Do Items</h1>

<%= render 'itemstable', :items => @todo_items, :passed_date => $date.strftime("%Y/%m/%d") %>

<h1>Done Items</h1>

<%= render 'itemstable', :items => @done_items %>

<br>

<!--<%= link_to 'New Item', new_item_path %>-->

<h1>Add Item</h1>
<%= render 'form', :item => Item.new %>
