<h1> <%= $date.strftime("%Y/%m/%d") %></h1>
<%= link_to "Prev", 'prev_day' %>
<%= link_to "Next", 'next_day' %>
<%= link_to "Today", 'today' %>
<!-- go to -->

<p id="notice"><%= notice %></p>

<h1>To-Do Items</h1>

<%= render 'itemstable', :items => @todo_items %>

<h1>Done Items</h1>

<%= render 'itemstable', :items => @done_items %>

<br>

<!--<%= link_to 'New Item', new_item_path %>-->

<h1>Add Item</h1>
<%= render 'form', :item => Item.new %>
